
{% include "store/base.html" %}


{% load static %}


{% block content %}

    <style>
        
        body 
        {
            
            background-color: lightslategray;
        
        }


    </style>


        <body>

            <br><br><br>

            <div class="container bg-white shadow-md p-5" style="width:500px; border-radius:20px;">

                <form id="form" onsubmit="event.preventDefault();">

                    <div>

                        <div class="text-center">

                            <h3> Zrealizuj zamówienie </h3>

                            <p> Uzupełnij poniższe informacje </p>

                        </div>
    


                        <hr>

                        <br>

                        <div class="form-field">
                        
                            <input class="form-control validate" id="name" type="text" placeholder="Full name*" autocomplete="off" value="{{shipping.full_name}}" required>

                        </div>

                        
                        <br>

                        
                        <div class="form-field">

                            <input class="form-control validate" id="address1" type="text" placeholder="Address 1*" autocomplete="off" value="{{shipping.address1}}" required>

                        </div>


                        <br>


                        <div class="form-field">

                            <input class="form-control validate" id="city" type="text" placeholder="City*" autocomplete="off" value="{{shipping.city}}" required>

                        </div>


                        <br>


                        <div class="form-field">

                            <input class="form-control" id="zipcode" type="text" placeholder="Zip code (Optional)" autocomplete="off" value="{{shipping.zipcode}}">

                        </div>
                
                    </div>

                    <br>


                    <!-- <div class="text-center">
                        <button id="complete-order" type="submit" class="btn btn-primary navbar-btn text-white"> &nbsp; Zrealizuj </button>
                    </div> -->

                    

                    <div id="paypal-button-container"></div>

                    <script src="https://www.paypal.com/sdk/js?client-id=AV6GMnz2odc8eu3-H4Cm7lPEGma1Ghd_WkD0cSFP2NCKDpDbon45geKrLm9J3DJTaC-bo3Or-kqii59w&currency=USD&intent=capture&enable-funding=venmo" data-sdk-integration-source="integrationbuilder"></script>
                

                    




                </form>


            </div>

            

            <br>


        </body>


        <script>

            var total_price = '{{cart.get_total}}';
            const paypalButtonsComponent = paypal.Buttons({
                style: {
                color: "black",
                shape: "rect",
                layout: "vertical",
                },

                onInit: function(data, actions) {
                    actions.disable(); 
                    document.querySelectorAll('.validate').forEach(item => {
                        item.addEventListener('keyup', event => {
                            var order_verified = 'Yes';
                            function checkInputs(){
                                $(':input[required]').each(function(){
                                    if($(this).val() == ''){
                                        return order_verified = 'No';
                                    }
                                });
                                return order_verified;
                            }                           
                            var isOrderVerified = checkInputs()
                            if(isOrderVerified === 'Yes')
                            {
                                actions.enable();
                            }
                            else
                            {
                                actions.disable();
                            }
                        });
                    });

                    var order_verified = 'Yes';
                    function checkInputs(){
                        $(':input[required]').each(function(){
                            if($(this).val() == ''){
                                return order_verified = 'No';
                            }
                        });
                        return order_verified;
                    }

                    
                    var isOrderVerified = checkInputs()
                    if(isOrderVerified === 'Yes')
                    {
                        actions.enable();
                    }
                    else
                    {
                        actions.disable();
                    }
                },

                createOrder: (data, actions) => {
                    const createOrderPayload = {
                        purchase_units: [
                            {
                                amount: {
                                    value: total_price
                                }
                            }
                        ]
                    };
                    return actions.order.create(createOrderPayload);
                },

                onApprove: (data, actions) => {
                    const captureOrderHandler = (details) => {
                        const payerName = details.payer.name.given_name;                       
                        console.log('Transakcja zakończona');
                        $.ajax({
                            type: 'POST',
                            url: '{% url "complete-order" %}',
                            data: {                
                                name: $('#name').val(),                                            
                                address1: $('#address1').val(),                                
                                city: $('#city').val(),                                                      
                                zipcode: $('#zipcode').val(),                           
                                csrfmiddlewaretoken: "{{csrf_token}}",
                                action: 'post'                
                            },
                            success: function(json){
                                window.location.replace("{% url 'payment-success' %}");                
                            },
                            error: function(xhr, errmsg, err){               
                                window.location.replace("{% url 'payment-failed' %}");               
                            }               
                        });
                    };
                    return actions.order.capture().then(captureOrderHandler);
                },                
                onError: (err) => {
                    console.error('Error PayPal');
                }
            });

            paypalButtonsComponent
                .render("#paypal-button-container")
                .catch((err) => {
                    console.error('Renderowanie przycisków PayPal nie powiodło się');
                });

        </script>



{% endblock %}