{% include "store/base.html" %}

{% load static %}

{% block content %}

<style>

    body{

        background-color: lightslategray;

    }

</style>

<body>

    <br><br><br><br><br><br><br><br><br><br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <div class="text-center">
            <h3> <strong> Transakcja zakończona powodzeniem! </strong> </h3>
            <hr>
            <p> Twoje zamówienie jest w trakcie przetwarzania </p>
        </div>

    </div>

</body>

{% endblock %}